<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    
    <div class="container-fluid">

        <a class="navbar-brand" href="#" ><img src="{{rbase}}logobar.png"><span>Creatividad con sentido.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item rounded"><a class="nav-link active" aria-current="page" href="#">Hola</a></li>
                <li class="nav-item rounded"><a class="nav-link" href="#sec1">Ofrecemos</a></li>
                <li class="nav-item rounded"><a class="nav-link" href="#sec4">Paquetes</a></li>
                <li class="nav-item rounded"><a class="nav-link" href="#sec5">Contacto</a></li>
            </ul>
        </div>

    </div>

</nav>
